body {
  background-color: var(--content);
}
:root {
  --content: #f7f9fb;
  --navigation: #b4b5b4;
  --links: #031761;
}
a {
  text-decoration: none;
  color: var(--links);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ovo", sans-serif;
  color: var(--links);
}
.body-container {
  display: grid;
  height: auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 7rem 1fr 7rem;
  align-items: center;
  justify-items: center;
}
.body {
  margin: 0 2rem;
  grid-column: 1 / 6;
  grid-row: 2 / 3;
}
.footer {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}
.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}
@media (min-width: 600px) {
  .body-container {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 8rem 1fr 8rem;
  }
  .body {
    margin: 0;
    grid-column: 2 / 7;
  }
}
@media (min-width: 960px) {
  .body-container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 9rem 1fr 9rem;
  }
  .body {
    grid-column: 3 / 11;
  }
}
